<html>
    <head>
        <title>
            Login, BookEasy
        </title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </head>
    <body>
        <br/>
        <br/>
        <div class = "container">
            <div class = "row">
                <div class = "col s12" style = "font-size: 100px; font-weight:100">
                    You've been <b>logged</b> out!
                </div>
            </div>
            <div class = "row">
                <div class = "col s12" style = "font-size: 70px; font-weight:100">
                    Click <a href="/">here</a> to go to homepage..
                </div>
            </div>
        </div>
    </body>
</html>